# MongoDB Configuration
MONGODB_URI=mongodb://mongodb:27017/mongoflix
MONGO_INITDB_DATABASE=mongoflix

# Backend Configuration
NODE_ENV=development
PORT=3000

# Frontend Configuration
VITE_API_URL=http://localhost:3000